<div class="page-body" *ngIf="studentlistloaded=='1'">
  <!--profile cover start-->
  <app-card [title]="'New SubCategory'">
     <!-- button Default -->
     <p class="text-center">
        Add a new SubCategory.
     <div class="text-center">
        <button (click)="modalForm.show()" class="btn btn-inverse ripple light text-center">Add new</button>
     </div>
  </app-card>
  <!--profile cover end-->
  <div class="row">
     <div class="col-lg-12">
        <div  >
           <div >
              <!-- contact data table card start -->
              <app-card *ngIf="studentlistdata.records=='norecords'" [title]="'Contractors'">
              <!-- button Default -->
              <div class="text-center">
                 No SubCategory added yet!
              </div>
              </app-card>
              <app-card *ngIf="studentlistdata.records!='norecords'" [title]="'SubCategory'" [cardOptionBlock]="true">
              <div class="row">
                 <div class="col-sm-12">
                    <label class="dt-cust-search f-right">
                       <div class="form-group">
                          <input
                             type='text'
                             class="form-control input-sm m-l-10"
                             placeholder='Search name'
                             (keyup)='updateFilterstudentlistbyname($event)'
                             />
                       </div>
                    </label>
                 </div>
              </div>
              <ngx-datatable *ngIf="studentlistloaded!='0'"
              #table
              class='data-table'
              [columns]="studentlistcolumns"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="100"
              [limit]="6"
              [scrollbarH]="true"
              [rows]='studentlistrowsFilter'
              (activate)="onActivate($event)">

              <ngx-datatable-column name="Id" width="80">
                 <ng-template let-row="row" let-value="cid" ngx-datatable-cell-template >
                    <img src="{{row['image']}}" alt="user image" class="img-radius img-100 align-top m-r-37">
                 </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Id" width="80">
                 <ng-template let-row="row" let-value="cid" ngx-datatable-cell-template >
                    {{row['sid']}}
                 </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Name" width="100">
                 <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{row['sname']}}
                 </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="category">
                 <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{row['categoryname']}}
                 </ng-template>
              </ngx-datatable-column>
             
              </ngx-datatable>
              </app-card>
           </div>
        </div>
     </div>
  </div>
</div>
<app-modal-basic #modalLarge [dialogClass]="'modal-lg'" >
<div class="app-modal-header">
  <h4 class="modal-title">Edit</h4>
  <button type="button" class="close basic-close" (click)="modalLarge.hide()">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="app-modal-body">
  <div class="card-block">
     <form action="javascript:">
        <div class="form-group row">
            
            <div class="col-sm-8">
               <input hidden type="text" [(ngModel)]="formdata.sid" name="name"  class="form-control"  placeholder=" " required>
            </div>
         </div>
        <div class="form-group row">
           <label class="col-sm-4 col-form-label">Name</label>
           <div class="col-sm-8">
              <input type="text" [(ngModel)]="formdata.sname" name="name"  class="form-control"  placeholder=" " required>
           </div>
        </div>
        <div  class="form-group row">
           <label class="col-sm-4 col-form-label">categoryy</label>
           <div class="col-sm-8">
              <textarea  [(ngModel)]="formdata.category" name="offer" class="form-control" required=""></textarea>
           </div>
           <span class="form-bar"></span>
        </div>
       

        <div  class="form-group row">
          <label class="col-sm-4 col-form-label">category</label>
          <div class="col-sm-8">
            <select  [(ngModel)]="formdata.category" class="js-example-basic-single col-sm-12">
              <optgroup label="category type 1">
                  <option value="1">One</option>
              </optgroup>
              <optgroup label="category type 2">
                 
                  <option value="2">Two</option>
              </optgroup>
          </select>          </div>
          <span class="form-bar"></span>
       </div>

     

        <div class="form-group row">
           <label class="col-sm-4 col-form-label">Image</label>
           <div class="col-sm-8">
              <input type="file" name="name"  (change)="onFileChanged($event)"   class="form-control" accept="image/*">
           </div>
           <i *ngIf="upload==1" class="fa fa-check" style="zoom:2.0"></i> <span *ngIf="upload==0">Uploading...</span>
        </div>
        <div class="form-group row">
           <label class="col-sm-4"></label>
           <div class="col-sm-8">
              <button type="submit" (click)="update()" [disabled]="upload=='0' " class="btn btn-primary m-b-0 ripple light" >Submit</button>
              
              <div  *ngIf="loaded=='1'" style="left:30%; top:40%;" class="lds-facebook">
                 <div></div>
                 <div></div>
                 <div></div>
              </div>
           </div>
        </div>
     </form>
  </div>
</div>
<div class="app-modal-footer">
      <button type="button" class="btn btn-danger ripple" (click)="delete()">Delete</button> &nbsp; &nbsp;

  <button type="button" class="btn btn-default ripple" (click)="modalLarge.hide()">Close</button> &nbsp; &nbsp;
 
</div>
</app-modal-basic>
<app-modal-basic #modalForm [dialogClass]="'modal-lg'" >
<div class="app-modal-header">
  <h4 class="modal-title">New</h4>
  <button type="button" class="close basic-close" (click)="modalForm.hide()">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="app-modal-body">
  <div class="card-block">
     <form action="javascript:" *ngIf="studentlistloaded=='1'">
        <div class="form-group row">
           <label class="col-sm-4 col-form-label">Name</label>
           <div class="col-sm-8">
              <input type="text" [(ngModel)]="formdata.sname" name="name"  class="form-control"  placeholder=" " required>
           </div>
        </div>
       
        
 
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Category</label>
          <div class="col-sm-8">
          <select name="select" [(ngModel)]="formdata.category" class="form-control form-control-primary">
                 <ng-container *ngFor="let x of studentlistdata.category"> 
                  <option  value="{{x.cid}}">{{x.cname}}</option>

                 </ng-container>
             
          </select>
          </div>
      </div>


        
        <div class="form-group row">
           <label class="col-sm-4 col-form-label">Image</label>
           <div class="col-sm-8">
              <input type="file" name="name"  (change)="onFileChanged($event)"   class="form-control" accept="image/*">
           </div>
           <i *ngIf="upload==1" class="fa fa-check" style="zoom:2.0"></i> <span *ngIf="upload==0">Uploading...</span>
        </div>
        <div class="form-group row">
           <label class="col-sm-4"></label>
           <div class="col-sm-8">
              <button type="submit" (click)="addtask()" [disabled]="upload=='0' " class="btn btn-primary m-b-0 ripple light" >Submit</button>
              <div  *ngIf="loaded=='1'" style="left:30%; top:40%;" class="lds-facebook">
                 <div></div>
                 <div></div>
                 <div></div>
              </div>
           </div>
        </div>
     </form>
  </div>
</div>
<div class="app-modal-footer">
  <button type="button" class="btn btn-default ripple" (click)="modalForm.hide()">Close</button> &nbsp; &nbsp;
</div>
</app-modal-basic>