<div class="limiter" >
  <div class="container-login100" >
    <div class="wrap-login100" style="zoom:90%">
      <div class="login100-pic js-tilt" data-tilt>
        <img src="assets/login/images/img-01.png" alt="IMG">
      </div>

      <form class="login100-form validate-form">
        <span class="login100-form-title">
          Manager Login
        </span>

        <div class="wrap-input100 validate-input">
          <input class="input100" type="text" name="username"  [(ngModel)]="formdata.email" placeholder="Username">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-user" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Password is required">
          <input class="input100" type="password"  name="pass"  [(ngModel)]="formdata.password" placeholder="Password">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
        </div>
        
        <div class="container-login100-form-btn">
          <button  (click)="login()" class="login100-form-btn">
            Login
          </button>
        </div>

        <div class="text-center p-t-12">
          <span class="txt1">
            Forgot
          </span>
          <a class="txt2" href="#">
            Username / Password?
          </a>
        </div>
        <div class="text-center p-t-136">
          <a class="txt2" href="#">
           
            <i class="fa fa-long-a m-l-5" aria-hidden="true"></i>
          </a>
        </div>
        
      </form>
    </div>
  </div>
</div>
