<div class="col-sm-12" >
  <!-- Basic Form Inputs card start -->
  <app-card [title]="'Basic Form Inputs'" [cardOptionBlock]="true">
    <h4 class="sub-title">Basic Inputs</h4>
    <p>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</p>
    <form action="javascript:">
      
  
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Upload File</label>
        <div class="col-sm-10">
          <input type="file" (change)="changeListener($event)" [(ngModel)]="files"  name="files" class="form-control">

        </div>
      </div>
      {{files}}
    </form>
  
  </app-card>
  </div>