<div class="page-body" *ngIf="studentlistloaded=='1'">
  <!--profile cover start-->
  <app-card [title]="'New Product'">
     <!-- button Default -->
     <p class="text-center">
        Add a new Product.
     <div class="text-center">
        <button (click)="modalForm.show()" class="btn btn-inverse ripple light text-center">Add new</button>
     </div>
  </app-card>
  <!--profile cover end-->
  <div class="row">
     <div class="col-lg-12">
        <div  >
           <div >
              <!-- contact data table card start -->
              <app-card *ngIf="studentlistdata.records=='norecords'" [title]="'Contractors'">
              <!-- button Default -->
              <div class="text-center">
                 No Product added yet!
              </div>
              </app-card>
              <app-card *ngIf="studentlistdata.records!='norecords'" [title]="'Product'" [cardOptionBlock]="true">
              <div class="row">
                 <div class="col-sm-12">
                    <label class="dt-cust-search f-right">
                       <div class="form-group">
                          <input
                             type='text'
                             class="form-control input-sm m-l-10"
                             placeholder='Search name'
                             (keyup)='updateFilterstudentlistbyname($event)'
                             />
                       </div>
                    </label>
                 </div>
              </div>
              <ngx-datatable *ngIf="studentlistloaded!='0'"
              #table
              class='data-table'
              [columns]="studentlistcolumns"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="15"
              [scrollbarH]="true"
              [rows]='studentlistrowsFilter'
              (activate)="onActivate($event)">
              <ngx-datatable-column name="pid" width="60">
                <ng-template let-row="row" let-value="pid" ngx-datatable-cell-template >
                   {{row['pid']}}
                </ng-template>
             </ngx-datatable-column>
              <ngx-datatable-column name="Image" width="150">
                 <ng-template let-row="row" let-value="cid" ngx-datatable-cell-template >
                    <img src="{{row['image']}}" alt="user image" class="img-radius img-100 align-top m-r-37">
                 </ng-template>
              </ngx-datatable-column>
             
              <ngx-datatable-column name="Name" width="150" style='word-wrap: break-word;'>
                 <ng-template let-row="row" let-value="value" ngx-datatable-cell-template style='word-wrap: break-word;'>
                    {{row['name']}}
                 </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="MRP" width="80">
                 <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{row['mrp']}}
                 </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Price" width="80">
                 <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{row['price']}}
                 </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="category1" width="80">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                   {{row['categoryname1']}}
                </ng-template>
             </ngx-datatable-column>
             <ngx-datatable-column name="category2" width="80">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                 {{row['categoryname2']}}
              </ng-template>
           </ngx-datatable-column>
           <ngx-datatable-column name="category3" width="80">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
               {{row['categoryname3']}}
            </ng-template>
         </ngx-datatable-column>
         <ngx-datatable-column name="SKU" width="80">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
             {{row['sku']}}
          </ng-template>
       </ngx-datatable-column>
       <ngx-datatable-column name="unit" width="80">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
           {{row['finalunit']}}
        </ng-template>
     </ngx-datatable-column>
     <ngx-datatable-column name="Variants" width="80">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
         {{row['variants']}}
      </ng-template>
   </ngx-datatable-column>
   <ngx-datatable-column name="Stock" width="80">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
       {{row['stock']}}
    </ng-template>
 </ngx-datatable-column>

 <ngx-datatable-column name="Limit" width="80">
  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
     {{row['itemlimit']}}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Combo" width="80">
  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
     {{row['combo']}}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Tags" width="80">
  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
     {{row['tags']}}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Pv Points" width="80">
  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
     {{row['pvpoints']}}
  </ng-template>
</ngx-datatable-column>
              </ngx-datatable>
              </app-card>
           </div>
        </div>
     </div>
  </div>
</div>
<app-modal-basic #modalLarge [dialogClass]="'modal-lg'"  *ngIf="this.studentlistloaded=='1'" >
<div class="app-modal-header">
  <h4 class="modal-title">Edit</h4>
  <button type="button" class="close basic-close" (click)="modalLarge.hide()">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="app-modal-body" style='overflow-y:scroll; max-height:500px;'>
  <div class="card-block">
     <form action="javascript:" >
        <div class="form-group row">
            
            <div class="col-sm-8">
               <input hidden type="text" [(ngModel)]="formdata.cid" name="name"  class="form-control"  placeholder=" " required>
            </div>
         </div>
        <div class="form-group row">
           <label class="col-sm-3 col-form-label">Name</label>
           <div class="col-sm-8">
              <input type="text" [(ngModel)]="formdata.name" name="name"  class="form-control"  placeholder=" " required>
           </div>
        </div>
        <div  class="form-group row">
           <label class="col-sm-3 col-form-label">MRP</label>
           <div class="col-sm-8">
              <textarea  [(ngModel)]="formdata.mrp" name="mrp" class="form-control" required=""></textarea>
           </div>
           <span class="form-bar"></span>
        </div>
        <div  class="form-group row">
           <label class="col-sm-3 col-form-label">Price</label>
           <div class="col-sm-8">
              <textarea  [(ngModel)]="formdata.price" name="price" class="form-control" required=""></textarea>
           </div>
           <span class="form-bar"></span>
        </div>
        <div class="form-group row">
           <label class="col-sm-3 col-form-label">Image</label>
           <div class="col-sm-8">
              <input type="file" name="name"  (change)="onFileChanged($event)"   class="form-control" accept="image/*">
           </div>
           <i *ngIf="upload==1" class="fa fa-check" style="zoom:2.0"></i> <span *ngIf="upload==0">Uploading...</span>
        </div>
        <div class="form-group row">
         <label class="col-sm-3 col-form-label">Image2</label>
         <div class="col-sm-8">
            <input type="file" name="name"  (change)="onFileChanged1($event)"   class="form-control" accept="image/*">
         </div>
         <i *ngIf="upload==1" class="fa fa-check" style="zoom:2.0"></i> <span *ngIf="upload==0">Uploading...</span>
      </div>
      <div class="form-group row">
         <label class="col-sm-3 col-form-label">Image2</label>
         <div class="col-sm-8">
            <input type="file" name="name"  (change)="onFileChanged2($event)"   class="form-control" accept="image/*">
         </div>
         <i *ngIf="upload==1" class="fa fa-check" style="zoom:2.0"></i> <span *ngIf="upload==0">Uploading...</span>
      </div>
        <div  class="form-group row">
          <label class="col-sm-3 col-form-label">Description</label>
          <div class="col-sm-8">
             <textarea  [(ngModel)]="formdata.description" name="description" class="form-control" required=""></textarea>
          </div>
          <span class="form-bar"></span>
       </div>
       

       <div class="form-group row">
          <label class="col-sm-3 col-form-label"> Sub Category 1</label>
          <div class="col-sm-8">
          <select name="selsxsxsxect" [(ngModel)]="formdata.category1" class="form-control form-control-primary">
                 <ng-container *ngFor="let x of studentlistdata.category"> 
                    <optgroup label="{{x.cname}}">
                        <ng-container *ngFor="let y of studentlistdata.subcategory"> 
                            <option *ngIf="y.category==x.cid" value="{{y.sid}}">{{y.sname}}</option>

                          </ng-container>

                    </optgroup>

                 </ng-container>
             
          </select>
          </div>
      </div>
      <div class="form-group row">
          <label class="col-sm-3 col-form-label">Sub Category 2</label>
          <div class="col-sm-8">
          <select name="sesxsxlect" [(ngModel)]="formdata.category2" class="form-control form-control-primary">
                 <ng-container *ngFor="let x of studentlistdata.category"> 
                    <optgroup label="{{x.cname}}">
                        <ng-container *ngFor="let y of studentlistdata.subcategory"> 
                            <option *ngIf="y.category==x.cid" value="{{y.sid}}">{{y.sname}}</option>

                          </ng-container>

                    </optgroup>

                 </ng-container>
             
          </select>
          </div>
      </div>
      <div class="form-group row">
          <label class="col-sm-3 col-form-label">Sub Category 3</label>
          <div class="col-sm-8">
          <select name="selsxsxssect" [(ngModel)]="formdata.category3" class="form-control form-control-primary">
                 <ng-container *ngFor="let x of studentlistdata.category"> 
                    <optgroup label="{{x.cname}}">
                        <ng-container *ngFor="let y of studentlistdata.subcategory"> 
                            <option *ngIf="y.category==x.cid" value="{{y.sid}}">{{y.sname}}</option>

                          </ng-container>

                    </optgroup>

                 </ng-container>
             
          </select>
          </div>
      </div>
   <div  class="form-group row">
    <label class="col-sm-3 col-form-label">SKU</label>
    <div class="col-sm-8">
       <textarea  [(ngModel)]="formdata.sku" name="sku" class="form-control" required=""></textarea>
    </div>
    <span class="form-bar"></span>
 </div>
 <div  class="form-group row">
  <label class="col-sm-3 col-form-label">Unit</label>
  <div class="col-sm-8">
     <textarea  [(ngModel)]="formdata.finalunit" name="unit" class="form-control" required=""></textarea>
  </div>
  <span class="form-bar"></span>
</div>
<div  class="form-group row">
  <label class="col-sm-3 col-form-label">Varient</label>
  <div class="col-sm-8">
     <textarea  [(ngModel)]="formdata.variants" name="varient" class="form-control" required=""></textarea>
  </div>
  <span class="form-bar"></span>
</div>
<div  class="form-group row">
  <label class="col-sm-3 col-form-label">Stock</label>
  <div class="col-sm-8">
     <textarea  [(ngModel)]="formdata.stock" name="stock" class="form-control" required=""></textarea>
  </div>
  <span class="form-bar"></span>
</div>
<div  class="form-group row">
  <label class="col-sm-3 col-form-label">Limit</label>
  <div class="col-sm-8">
     <textarea  [(ngModel)]="formdata.itemlimit" name="limit" class="form-control" required=""></textarea>
  </div>
  <span class="form-bar"></span>
</div>
<div  class="form-group row">
  <label class="col-sm-3 col-form-label">Combo</label>
  <div class="col-sm-8">
     <textarea  [(ngModel)]="formdata.combo" name="combo" class="form-control" required=""></textarea>
  </div>
  <span class="form-bar"></span>
</div>
<div  class="form-group row">
  <label class="col-sm-3 col-form-label">Tags</label>
  <div class="col-sm-8">
     <textarea  [(ngModel)]="formdata.tamilname" name="tags" class="form-control" required=""></textarea>
  </div>
  <span class="form-bar"></span>
</div>

<div  class="form-group row">
  <label class="col-sm-3 col-form-label">Pv Points</label>
  <div class="col-sm-8">
     <textarea  [(ngModel)]="formdata.pvpoints" name="pv" class="form-control" required=""></textarea>
  </div>
  <span class="form-bar"></span>
</div>
       
        <div class="form-group row">
           <label class="col-sm-4"></label>
           <div class="col-sm-8">
              <button type="submit" (click)="update()" [disabled]="upload=='0' " class="btn btn-primary m-b-0 ripple light" >Submit</button>
              
              <div  *ngIf="loaded=='1'" style="left:30%; top:40%;" class="lds-facebook">
                 <div></div>
                 <div></div>
                 <div></div>
              </div>
           </div>
        </div>
     </form>
  </div>
  <button type="button" class="btn btn-danger ripple" (click)="delete()">Delete</button> &nbsp; &nbsp;

  <button type="button" class="btn btn-default ripple" (click)="modalLarge.hide()">Close</button> &nbsp; &nbsp;
</div>
<div class="app-modal-footer">
      
 
</div>
</app-modal-basic>
<app-modal-basic #modalForm [dialogClass]="'modal-lg'" >
<div class="app-modal-header">
  <h4 class="modal-title">New</h4>
  <button type="button" class="close basic-close" (click)="modalForm.hide()">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="app-modal-body" style='overflow-y:scroll; max-height:500px;'>
  <div class="card-block">
     <form action="javascript:">
        <div class="form-group row">
            
            <div class="col-sm-8">
               <input hidden type="text" [(ngModel)]="formdata.cid" name="name"  class="form-control"  placeholder=" " required>
            </div>
         </div>
        <div class="form-group row">
           <label class="col-sm-3 col-form-label">Name</label>
           <div class="col-sm-8">
              <input type="text" [(ngModel)]="formdata.name" name="name"  class="form-control"  placeholder=" " required>
           </div>
        </div>
        <div  class="form-group row">
           <label class="col-sm-3 col-form-label">MRP</label>
           <div class="col-sm-8">
              <textarea  [(ngModel)]="formdata.mrp" name="mrp" class="form-control" required=""></textarea>
           </div>
           <span class="form-bar"></span>
        </div>
        <div  class="form-group row">
           <label class="col-sm-3 col-form-label">Price</label>
           <div class="col-sm-8">
              <textarea  [(ngModel)]="formdata.price" name="price" class="form-control" required=""></textarea>
           </div>
           <span class="form-bar"></span>
        </div>
        <div class="form-group row">
           <label class="col-sm-3 col-form-label">Image</label>
           <div class="col-sm-8">
              <input type="file" name="name"  (change)="onFileChanged($event)"   class="form-control" accept="image/*">
           </div>
           <i *ngIf="upload==1" class="fa fa-check" style="zoom:2.0"></i> <span *ngIf="upload==0">Uploading...</span>
        </div>
        <div class="form-group row">
           <label class="col-sm-3 col-form-label">Image2</label>
           <div class="col-sm-8">
              <input type="file" name="name"  (change)="onFileChanged1($event)"   class="form-control" accept="image/*">
           </div>
           <i *ngIf="upload==1" class="fa fa-check" style="zoom:2.0"></i> <span *ngIf="upload==0">Uploading...</span>
        </div>
        <div class="form-group row">
         <label class="col-sm-3 col-form-label">Image3</label>
         <div class="col-sm-8">
            <input type="file" name="name"  (change)="onFileChanged2($event)"   class="form-control" accept="image/*">
         </div>
         <i *ngIf="upload==1" class="fa fa-check" style="zoom:2.0"></i> <span *ngIf="upload==0">Uploading...</span>
      </div>
        <div  class="form-group row">
          <label class="col-sm-3 col-form-label">Description</label>
          <div class="col-sm-8">
             <textarea  [(ngModel)]="formdata.description" name="description" class="form-control" required=""></textarea>
          </div>
          <span class="form-bar"></span>
       </div>
       <div class="form-group row">
          <label class="col-sm-3 col-form-label"> Sub Category 1</label>
          <div class="col-sm-8">
          <select name="selesxsxct" [(ngModel)]="formdata.category1" class="form-control form-control-primary">
                 <ng-container *ngFor="let x of studentlistdata.category"> 
                    <optgroup label="{{x.cname}}">
                        <ng-container *ngFor="let y of studentlistdata.subcategory"> 
                            <option *ngIf="y.category==x.cid" value="{{y.sid}}">{{y.sname}}</option>

                          </ng-container>

                    </optgroup>

                 </ng-container>
             
          </select>
          </div>
      </div>
      <div class="form-group row">
          <label class="col-sm-3 col-form-label">Sub Category 2</label>
          <div class="col-sm-8">
          <select name="selxsxsxect" [(ngModel)]="formdata.category2" class="form-control form-control-primary">
                 <ng-container *ngFor="let x of studentlistdata.category"> 
                    <optgroup label="{{x.cname}}">
                        <ng-container *ngFor="let y of studentlistdata.subcategory"> 
                            <option *ngIf="y.category==x.cid" value="{{y.sid}}">{{y.sname}}</option>

                          </ng-container>

                    </optgroup>

                 </ng-container>
             
          </select>
          </div>
      </div>
      <div class="form-group row">
          <label class="col-sm-3 col-form-label">Sub Category 3</label>
          <div class="col-sm-8">
          <select name="selxsxsxect" [(ngModel)]="formdata.category3" class="form-control form-control-primary">
                 <ng-container *ngFor="let x of studentlistdata.category"> 
                    <optgroup label="{{x.cname}}">
                        <ng-container *ngFor="let y of studentlistdata.subcategory"> 
                            <option *ngIf="y.category==x.cid" value="{{y.sid}}">{{y.sname}}</option>

                          </ng-container>

                    </optgroup>

                 </ng-container>
             
          </select>
          </div>
      </div>
   <div  class="form-group row">
    <label class="col-sm-3 col-form-label">SKU</label>
    <div class="col-sm-8">
       <textarea  [(ngModel)]="formdata.sku" name="sku" class="form-control" required=""></textarea>
    </div>
    <span class="form-bar"></span>
 </div>
 <div  class="form-group row">
  <label class="col-sm-3 col-form-label">Unit</label>
  <div class="col-sm-8">
     <textarea  [(ngModel)]="formdata.finalunit" name="unit" class="form-control" required=""></textarea>
  </div>
  <span class="form-bar"></span>
</div>
<div  class="form-group row">
  <label class="col-sm-3 col-form-label">Varient</label>
  <div class="col-sm-8">
     <textarea  [(ngModel)]="formdata.variants" name="varient" class="form-control" required=""></textarea>
  </div>
  <span class="form-bar"></span>
</div>
<div  class="form-group row">
  <label class="col-sm-3 col-form-label">Stock</label>
  <div class="col-sm-8">
     <textarea  [(ngModel)]="formdata.stock" name="stock" class="form-control" required=""></textarea>
  </div>
  <span class="form-bar"></span>
</div>
<div  class="form-group row">
  <label class="col-sm-3 col-form-label">Limit</label>
  <div class="col-sm-8">
     <textarea  [(ngModel)]="formdata.itemlimit" name="limit" class="form-control" required=""></textarea>
  </div>
  <span class="form-bar"></span>
</div>
<div  class="form-group row">
  <label class="col-sm-3 col-form-label">Combo</label>
  <div class="col-sm-8">
     <textarea  [(ngModel)]="formdata.combo" name="combo" class="form-control" required=""></textarea>
  </div>
  <span class="form-bar"></span>
</div>
<div  class="form-group row">
  <label class="col-sm-3 col-form-label">Tags</label>
  <div class="col-sm-8">
     <textarea  [(ngModel)]="formdata.tamilname" name="tags" class="form-control" required=""></textarea>
  </div>
  <span class="form-bar"></span>
</div>
<div  class="form-group row">
  <label class="col-sm-3 col-form-label">Pv Points</label>
  <div class="col-sm-8">
     <textarea  [(ngModel)]="formdata.pvpoints" name="pv" class="form-control" required=""></textarea>
  </div>
  <span class="form-bar"></span>
</div>
       
        <div class="form-group row">
           <label class="col-sm-4"></label>
           <div class="col-sm-8">
              <button type="submit" (click)="addnew()" [disabled]="upload=='0' " class="btn btn-primary m-b-0 ripple light" >Add</button>
              
              <div  *ngIf="loaded=='1'" style="left:30%; top:40%;" class="lds-facebook">
                 <div></div>
                 <div></div>
                 <div></div>
              </div>
           </div>
        </div>
     </form>
  </div>
</div>
<div class="app-modal-footer">
  <button type="button" class="btn btn-default ripple" (click)="modalForm.hide()">Close</button> &nbsp; &nbsp;
</div>
</app-modal-basic>