<div  *ngIf="data.status=='success'">
    <!-- task, page, download counter  start -->
    <div class="row" >
    <div class="col-xl-3 col-md-6">
        <div class="card" routerLink="/view">
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col-8">   
                        <h4 class="text-c-purple">{{data.count.school}}</h4>
                        <h6 class="text-muted m-b-0">Total Members</h6>
                    </div>    
                    <div class="col-4 text-right">
                    
                        <i class="fa fa-users f-28"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-c-purple" > 
                <div class="row align-items-center">
                    <div class="col-9">
                        <p class="text-white m-b-0"  >View All</p>
                    </div>
                    <div class="col-3 text-right">
                        <i class="fa fa-line-chart text-white f-16"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card" routerLink="/view">
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h4 class="text-c-green">{{data.count.trainer}}</h4>
                        <h6 class="text-muted m-b-0">Monthly New</h6>
                    </div>
                    <div class="col-4 text-right">
                        <i class="fa fa-user f-28"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-c-green" >
                <div class="row align-items-center">
                    <div class="col-9">
                        <p class="text-white m-b-0"  > View All</p>
                    </div>
                    <div class="col-3 text-right">
                        <i class="fa fa-line-chart text-white f-16"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card" routerLink="/order">
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h4 class="text-c-red">{{data.count.doctor}}</h4>
                        <h6 class="text-muted m-b-0">Total Orders</h6>
                    </div>
                    <div class="col-4 text-right">
                    
                        <i class="fa fa-cart f-28"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-c-red" >
                <div class="row align-items-center">
                    <div class="col-9">
                        <p class="text-white m-b-0"  >View All</p>
                    </div>
                    <div class="col-3 text-right">
                        <i class="fa fa-line-chart text-white f-16"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card" routerLink="/order">
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h4 class="text-c-blue">{{data.count.records}}</h4>
                        <h6 class="text-muted m-b-0">Upcoming Delivery</h6>
                    </div>
                    <div class="col-4 text-right">
                        <i class="fa fa-calendar-check-o f-28"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-c-blue" >
                <div class="row align-items-center">
                    <div class="col-9">
                        <p class="text-white m-b-0" >View  All</p>
                    </div>
                    <div class="col-3 text-right">
                        <i class="fa fa-line-chart text-white f-16"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   
    <!-- task, page, download counter  end -->

    <!--  sale analytics start -->
   
    <!--  sale analytics end -->

    <!--  project and team member start -->

    <div class="row">
    <div class="col-xl-6 col-md-12" *ngIf="data.records!='norecords'">
        <div class="card table-card">
            <div class="card-header">
                <h5>Upcoming Delivery</h5>
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li><i class="fa fa fa-wrench open-card-option"></i></li>
                        <li><i class="fa fa-window-maximize full-card"></i></li>
                        <li><i class="fa fa-minus minimize-card"></i></li>
                        <li><i class="fa fa-refresh reload-card"></i></li>
                      
                    </ul>
                </div>
            </div>
            <div class="card-block">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                
                                   
                                <th> Id</th>
                                <th> Name</th>
                                <th> Product</th>
                                <th>Date</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let x of data.records'>
                                    <td>{{x.userid}}</td>

                                <td>
                                    <div class="d-inline-block align-middle">
                                        <div class="d-inline-block">
                                            <h6>{{x.name.substring(0, 8)}}</h6>
                                          
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="d-inline-block align-middle">
                                        <div class="d-inline-block">
                                            <h6>{{x.combo}}</h6>
                                          
                                        </div>
                                    </div>
                                </td>
                                <td>{{x.date}}</td>
                               
                                </tr>
                    
                        </tbody>
                    </table>
                    <div class="text-right m-r-20">
                        <a routerLink="/records/managerecords"  class=" b-b-primary text-primary">View all Records</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-12" >
        <div class="card table-card">
            <div class="card-header">
                <h5>New Members</h5> 
                
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li><i class="fa fa fa-wrench open-card-option"></i></li>
                        <li><i class="fa fa-window-maximize full-card"></i></li>
                        <li><i class="fa fa-minus minimize-card"></i></li>
                        <li><i class="fa fa-refresh reload-card"></i></li>
                      
                    </ul>
                </div>
            </div>
                            <h6 *ngIf="data.request=='norequest'"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; No request recived</h6>

            <div *ngIf="data.request!='norequest'" class="card-block">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                
                                   
                                <th> Id</th>
                                <th>Name</th>
                                <th>Sponsor</th>
                                <th>Mobile</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let x of data.request'>

                                <td>{{x.userid}}</td>
                                <td>{{x.name.substring(0, 8)}}</td>
                                <td>{{x.refname.substring(0, 8)}}</td>
                                <td>{{x.mobile}}</td>
                                 <td>{{x.date}}</td>
                            </tr>
                    
                        </tbody>
                    </table>
                    <div class="text-right m-r-20">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
   
    <!--  project and team member end -->

    <!--  whether order-visitor start -->
    
    
    

  
    </div>